.body {
    min-height: 75rem;
    padding-top: 5.2rem;
    background-color: rgba(128, 128, 128, 0.12);
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/* Remove the navbar's default margin-bottom and rounded borders */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    text-align: center;
}

.navbar-inverse .btn-link {
    color: #000000;
}

.navbar-inverse .btn-link:hover {
    color: #000000;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

/* Set gray background color and 100% height */

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    margin: 0;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-width: 0 1px 0 0;
}

.list-unstyled {
    padding: none;
    list-style: none;
}

.sidenav a {
    text-decoration: none;
    color: #111;
    display: block;
    padding: 10px 0px 10px 20px;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

.sidenav a:hover {
    background-color: rgb(231, 231, 231);
    border-left: 4px solid #428bca;
}

.active-page {
    background-color: rgb(231, 231, 231);
    border-left: 4px solid #428bca;
}

.manu-down {
    margin-right: 15px;
    opacity: .4;
}

/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */

/* @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
       font-size: 25px;
}
     }
 .row.content {height:auto;} */

.navbar {
    background: #111
}

.navbar .navbar-brand {
    color: #000000;
}

.navbar a {
    color: #000000;
}

.navbar :hover {
    color: #818181;
}

.navbar-right {
    margin-right: 0px;
}

.navbar>.container-fluid .navbar-brand {
    margin-left: 0;
    padding-left: 20px;
    font-size: 25px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.main-content {
    margin-left: 200px;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    background-color: #ffffff;
}

.page-content {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 8px 50px 24px;
    padding-top: 5rem;
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 0px;
    padding-top: 0px;
}

.page-header h1 {
    padding: 0;
    margin: 0 8px;
    font-size: 26px;
    color: #000000;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    /* padding: 5px 0 5px 0; */
}

.breadcrumb {
    padding: 10px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    border-radius: unset;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.breadcrumb a {
    color: #dbac69;
}

.navbar-gold {
    background: #dbac69;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000000;
}

.bg-gold {
    background: #d49341;
    height: 40px;
    font-size: 14px;
    text-align: left;
}

/* Set Hamburger manu icon when collape */

.navbar-toggle .icon-bar {
    background-color: black;
}

/* Set position of content from front to behide nav */

.col-lg-6 {
    position: unset;
}

.form-inline .form-group {
    position: unset;
}

.input-group {
    position: unset;
}

.btn-group,
.btn-group-vertical {
    position: unset;
}

/* --------- Set new position of Alert Danger --------- */

.alert {
    padding-top: 45px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: unset;
}

.glyphicon glyphicon-trash {
    color: red;
}

.glyphicon {
    position: unset;
}

/* --------- set btn color --------- */

.btn-crm {
    background-color: #d8973d;
    color: whitesmoke;
    border-color: transparent;
}

.btn-crm:hover {
    background-color: #dbac69;
    color: #111;
}

.well {
    height: 40px;
}

.panel-body-md {
    padding: 15px;
    height: 200px;
    overscroll-behavior-y: auto;
    overflow-y: auto;
    background-color: whitesmoke;
}

/*---------- Table Header ------------ */

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tfoot>tr>td {
    padding: 6px 3px;
    line-height: 1.42857143;
    vertical-align: inherit;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd;
}

/* ---------- Table Body ------------- */

.table-h {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    background-color: #e6e6e6;
}

.table-h th {
    /* padding-left: 3px; */
    position: static;
    display: table-cell;
    float: none;
    text-align: center;
    height: 40px;
}

.table>tbody>tr>td {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: inherit;
    text-align: center;
    font-size: 13px;
    border: 1px solid #ddd;
}

.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
    margin-bottom: 10px;
}

.sl-lg {
    height: 170px !important;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*set btn color */

.btn-crm {
    background-color: #d8973d;
    color: whitesmoke;
    border-color: transparent;
}

.btn-crm:hover {
    background-color: #dbac69;
    color: #111;
}

.tablescroll {
    display: inline-block;
    overflow: auto;
    overscroll-behavior-y: auto;
    overscroll-behavior-x: auto;
    height: 400px;
    width: 100%;
}

.table {
    border: 1px solid #ddd;
}

/* ----  Qttt Report -----  */

.qttt-table {
    font-size: 11px;
    text-align: center;
}

.qttt-head-ymd {
    background-color: #000000;
    color: yellow;
    font-size: 12px;
    text-align: center;
}

.qttt-head-data th {
    background-color: #ea9923;
    color: black;
    text-align: center;
}

.qttt-sub-head-data th {
    background-color: #ea9924ab;
}

.qttt-status-danger {
    background-color: #dc2a2a;
    color: white;
    text-align: center;
}

.qttt-status-success {
    background-color: green;
    color: white;
    text-align: center;
}

.form-row>.col-sm-2 {
    position: unset;
    padding-left: 0px;
    text-align: center;
}

/* ------ Test scrolling data ---------- */

.zui-table>tbody>tr>td {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    text-align: center;
    padding: 8px;
}

.zui-table thead th {
    text-align: center;
    border: 1px solid #ddd;
    background-color: #ea9924;
    text-align: center;
}

.zui-table tbody td {
    text-align: center;
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 5px;
    /* text-shadow: 1px 1px 1px #fff; */
    white-space: nowrap;
}

.zui-wrapper {
    position: relative;
    font-size: 12px;
    text-align: center;
    /* set table date*/
}

.zui-scroller {
    margin-left: 360px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 5px;
}

.zui-table .zui-sticky-col {
    left: 0;
    position: absolute;
    top: auto;
    width: 40px;
    padding: 8px;
}

.zui-table .zui-sticky-col2 {
    border-right: solid 1px #DDEFEF;
    left: 40px;
    position: absolute;
    top: auto;
    width: 140px;
    padding: 8px;
}

.zui-table .zui-sticky-col3 {
    border-right: solid 1px #DDEFEF;
    left: 180px;
    position: absolute;
    top: auto;
    width: 60px;
    padding: 8px;
}

.zui-table .zui-sticky-col4 {
    border-right: solid 1px #DDEFEF;
    left: 240px;
    position: absolute;
    top: auto;
    width: 60px;
    padding: 8px;
}

.zui-table .zui-sticky-col5 {
    border-right: solid 1px black;
    left: 300px;
    position: absolute;
    top: auto;
    width: 60px;
    padding: 8px;
    background-color: black;
    color: sandybrown;
}

.zui-table .zui-sticky-col5-ymd {
    /* border-right: solid 1px black; */
    position: absolute;
    left: 300px;
    top: auto;
    width: 60px;
    background-color: black;
    color: yellow;
    /* padding:8px;*/
}

.pagination>li>a,
.pagination>li>span {
    position: unset;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0d426f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* -------CARD REPORT-------    */

.main-header h2 {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    margin: 0;
    padding-right: 10px;
    margin-right: 10px;
}

.page-content {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    padding: 8px 50px 24px;
    padding-top: 5rem;
    /* ADD CHART QTTT MOCK */
    background-color: rgba(199, 198, 198, 0.12);  
}

/* --------------    */

.card {
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    background-color: white;
    margin-bottom: 30px;
}

.card .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: 4px 4px 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .image img {
    width: 100%;
}

.card .filter {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.68);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
}

.card .filter .btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card:hover .filter {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .btn-hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

.card:hover .btn-hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.card .content {
    padding: 25px;
    background-color: fdfdfd;
    overflow: auto
}

.card .header {
    /* padding: 0 10px; */
    /* height: 35px; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    background-color: #484544;
    padding: 5px 15px 5px;
    font-size: 13px;
}

.card .category,
.card label {
    font-size: 12px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px;
}

.card .category i,
.card label i {
    font-size: 16px;
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card .title {
    color: white;
    margin: 0;
    font-weight: 300;
}

.card .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .description {
    font-size: 14px;
    color: #333;
}

.card .footer {
    padding: 0;
    background-color: transparent;
    line-height: 30px;
}

.card .footer .legend {
    padding: 5px 0;
}

.card .footer hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .stats {
    color: #a9a9a9;
}

.card .footer div {
    display: inline-block;
    font-size: 11px;
}

.card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.card .author i {
    font-size: 14px;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: #DDDDDD;
    content: "";
    position: absolute;
}

.card .ct-chart {
    margin: 30px 0 30px;
    height: 245px;
}

.card .table tbody td:first-child,
.card .table thead th:first-child {
    padding-left: 15px;
}

.card .table tbody td:last-child,
.card .table thead th:last-child {
    padding-right: 15px;
}

.card .alert {
    border-radius: 4px;
    position: relative;
}

.card .alert.alert-with-icon {
    padding-left: 65px;
}

.card-user .image {
    height: 110px;
}

.card-user .image-plain {
    height: 0;
    margin-top: 110px;
}

.card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
}

.card-user .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}

.card-user .avatar.border-gray {
    border-color: #EEEEEE;
}

.card-user .title {
    line-height: 24px;
}

.card-user .content {
    min-height: 240px;
}

.card-user .footer,
.card-price .footer {
    padding: 5px 15px 10px;
}

.card-user hr,
.card-price hr {
    margin: 5px 15px;
}

.card-plain {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.card-plain .image {
    border-radius: 4px;
}

.card-stats .icon-big {
    font-size: 3em;
    min-height: 64px;
}

.card-stats .icon-big i {
    font-weight: bold;
    line-height: 59px;
}

.card-stats .numbers {
    font-size: 2em;
    text-align: right;
}

.card-stats .numbers p {
    margin: 0;
    color: black !important;
}

.set-no-padding {
    padding-left: 0px !important;
}
